@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');


* {
	box-sizing: border-box;
}

body {
    background-color: #d6ace9;
    
}

.nav-item-white{
    color: white;
}

.navbar{
    background-color: #7952b3 !important;
}

/* Spinner Shared */
.spinner-mt{
    margin-top: 20rem;
}

/**
* INDEX
*/

/* presentation*/
.presentation-row-bg{
    background-color: #818a91;
}

/* Contact container styles */

.contact-form-container {
	font-family: 'Open Sans', sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	min-height: 100vh;
	margin: 0; */
}

.card {
    margin: 0 auto; 
	margin-top: 70px;
    background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
    height: 600px;

}

.header {
        border-bottom: 1px solid #f0f0f0;
        background-color: #f7f7f7;
        padding: 30px 40px;  
}

.header h3 {
	margin: 0;
}

.form {
    margin-top: 50px;
	padding: 40px 40px;	
}

.form-control {
    border: none;
    margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 15px;
    margin-top: 5px;
}

.form-control input, .form-control textarea {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus, .form-control textarea:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input, .form-control.success textarea {
	border-color: #2ecc71;
}

.form-control.error input, .form-control.error textarea {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 50px;
	right: 18px;
}

.form-control.success i.bi-check-circle-fill {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.bi-exclamation-circle-fill {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	/* position: absolute;
	bottom: 0;
	left: 0; */
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.footer button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 40px;
	width: 100%;
}

/* card message styles */

#card-message {
	display: flex;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.card-message {
	width: 500px;
	height: 300px;
	margin-top: 0px;
}

.btn-card-message {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
}
